@import './../../constants.css';

.h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.bio {
  hyphens: auto;
}

.bio-cover {
  background: var(--background-color);
  opacity: 0.01;
  will-change: opacity;
  height: 100vh;
  z-index: 10;
}

.toggle {
  will-change: transform;
}

.faded .bio-cover {
  opacity: 0.85;
}

/* Animations */

@keyframes fuzzy {
  0% {
    filter: url('#fuzzy-00');
  }
  25% {
    filter: url('#fuzzy-01');
  }
  50% {
    filter: url('#fuzzy-02');
  }
  75% {
    filter: url('#fuzzy-03');
  }
  100% {
    filter: url('#fuzzy-04');
  }
}

.fuzzy {
  animation: fuzzy 300ms infinite;
}
