/* Helper classes */

/* 100% Height */
.height-100 {
  height: 100%;
}

.x-center {
  left: 50%;
  transform: translateX(-50%);
}

.no-pointer-events {
  pointer-events: none;
}

.transition-opacity {
  transition: opacity 300ms ease;
}

.transition-transform {
  transition: transform 300ms ease;
}
