/* Do not write any CSS in here, add it to the appropriate module or make a new one */
@charset 'UTF-8';

/* Modules */
@import 'normalize.css/normalize.css';
@import 'basscss/css/basscss.min.css';

/* Global Typography */
@import './typography.css';

/* Helpers */
@import './helpers.css';

/* Constants */
@import './../../constants.css';

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', serif;
  color: var(--text-color);
  line-height: 1.9em;
  background-color: var(--background-color);
}

body.js-fonts-loaded {
  font-family: 'Vollkorn', Georgia, serif;
}

a,
.toggle {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-family: 'Karla';
}

a:after,
.toggle:after {
  content: '';
  display: block;
  border-bottom: 6px solid var(--text-color);
  position: absolute;
  top: 1.2em;
  left: 0;
  right: 0;
  opacity: 0.2;
}

a.symbol {
  display: inline-block;
  position: static;
  line-height: 0.5em;
}

a.symbol:after {
  display: none;
}

.h3 {
  font-weight: 100;
}

#app {
  height: 100%;
}

.abs-center {
  top: 50vh;
  left: 50vw;
  transform: translate3d(-50%,-50%,0);
}

/* Bio styles */
.large-text {
  font-size: 5.5rem;
  font-variant: small-caps;
  transform: scale(0.9) translateY(5%);
  text-indent: 0.5em;
  margin-left: -0.5em;
}

.medium-text {
  font-size: 2.5rem;
}

.normal-text {
  font-size: 1.5rem;
}

.lh1 {
  line-height: 0.55em;
}

.lh2 {
  line-height: 0.75em;
}

.lh3 {
  line-height: 1.5em;
}
