/**
 * Basic typography style for copy text
 */
@media (min-width: 1600px) {
  html {
    font-size: 34px;
  }
}

@media (max-width: 1599px) {
  html { font-size: 34px }
}

@media (max-width: 1064px) {
  html {
    font-size: 28px
  }
}

@media (max-width: 880px) {
  html {
    font-size: 26px
  }
}

@media (max-width: 820px) {
  html {
    font-size: 22px
  }
}

@media (max-width: 736px) {
  html {
    font-size: 19px;
  }

  .h4 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .lh3 {
    line-height: 1.35em;
  }
}

.font-monospace {
  font-family: 'Roboto Mono', monospace;
}

.font-alternative {
  font-family: 'Karla';
}

.small {
  font-size: 13px;
  line-height: normal;
}

.large-text {
  font-size: 5.5rem;
  font-variant: small-caps;
  transform: scale(0.9) translateY(5%);
  text-indent: 0.5em;
  margin-left: -0.5em;
}

.medium-text {
  font-size: 2.5rem;
}

.normal-text {
  font-size: 1.5rem;
}

.lh1 {
  line-height: 0.55em;
}

.lh2 {
  line-height: 0.75em;
}

.lh3 {
  line-height: 1.5em;
}
