/* Application-wide CSS variables */

/* Color definitions */
$red: #EC3338;
$blue: #5934F6;
$purple: rgb(153, 102, 255);
$purple2: rgb(132, 73, 249);
$beige: #f9e3d0;
$grey: #fafafa;
$cream: rgb(245, 245, 238);
$darkblue: #011461;

$text-color: lime;
$background-color: $grey;

/* Easing */
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
