@import './../../constants.css';

.cursor,
.notes-container {
  transition: transform 600ms var(--ease-out-cubic);
}

.cursor {
  max-width: 1.5em;
}

.notes {
  max-width: 500px;
  background: var(--background-color);
  box-shadow: var(--text-color) 2px 2px 0px;

  pointer-events: none;
  transform: translate3d(0,0,0);
}

.notes.visualisation-enter.visualisation-enter-active,
.notes.visualisation-leave.visualisation-leave-active {
  transition: opacity 500ms var(--ease-out-cubic);
}

.notes.visualisation-enter {
  opacity: 0.01;
}

.notes.visualisation-enter.visualisation-enter-active {
  opacity: 1;
}

.notes.visualisation-leave {
  opacity: 1;
  transform-origin: 50% 50%;
}

.notes.visualisation-leave.visualisation-leave-active {
  opacity: 0;
  transition-duration: 500ms;
}
