.bio {
  transform: skewY(-4deg);
  background: linear-gradient(to right, rgba(250,250,250,1) 0%,rgba(250,250,250,0) 100%);
  min-height: 100vh;
}

.venn {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.02em;
  font-family: 'Source Code Pro';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

/* Visualisations */
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

.visualisation-enter {
  opacity: 0.01;
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.visualisation-enter.visualisation-enter-active {
  opacity: 1;
  transition: opacity 300ms $ease-out-cubic;
  transform: translateX(-50%) translateY(-50%);
  transition-property: opacity,transform;

}

.visualisation-leave {
  opacity: 1;
}

.visualisation-leave.visualisation-leave-active {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.9);
  transition: opacity 300ms $ease-out-cubic;
  transition-property: opacity,transform;
}

.venn-intersection:last-child {
  transform-origin: 50% 50%;
  animation: wave 2000ms 0ms infinite linear;
  font-size: 1.7rem;
  -webkit-font-smoothing: antialiased;
}

.visualisation-enter .venn-intersection:last-child {
  transform: scale(0.01);
  animation: none;
}

.visualisation-enter.visualisation-enter-active .venn-intersection:last-child {
  transform: none;
  transition: transform 300ms 150ms $ease-out-cubic;
}

@keyframes wave {
  $degrees: 15deg;
  0% {
    tranform: rotate(0deg);
  }
  10% {
    transform: rotate($degrees);
  }
  20% {
    transform: rotate(-$degrees);
  }
  30% {
    transform: rotate($degrees);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}