.home {
    perspective: 1200px;
    perspective-origin: 35% 50%;
}

.bio {
  transform: rotateY(-15deg) rotateX(6deg);
  background: linear-gradient(to right, rgba(250,250,250,1) 0%,rgba(250,250,250,0) 100%);
}