.home {
    perspective: 1200px;
    perspective-origin: 35% 50%;
}

.h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.bg-gradient {
  background: linear-gradient(to right, rgba(250,250,250,1) 25%,rgba(250,250,250,0) 75%);
}

.bio {
  text-align: center;
}

.bio a:hover {
  transition: transform 300ms ease;
  transform: skewY(-15deg);
}

.bio span, .bio a {
  transition: opacity 300ms ease;
}

.faded a, .faded span {
  opacity: 0.15;
}

.faded a:hover {
  opacity: 1;
}