.route {
  fill: none;
  stroke-width: 4px;
  stroke-dasharray: 5px;
  animation: dash 800ms 0ms linear infinite both;
}

@keyframes dash {
  from {
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#profile {
  position: absolute;
  right: 0;
  top: 20%;
  mix-blend-mode: luminosity;
  z-index: 2;
}