@import './../../constants.css';

.venn {
  text-transform: uppercase;
  font-size: 0.45rem;
  letter-spacing: 0.02em;
  font-family: 'Roboto Mono';
}

.venn-intersection:last-child {
  transform-origin: 50% 50%;
  animation: wave 2000ms 0ms infinite linear;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
}

.venn.visualisation-enter.visualisation-enter-active,
.venn.visualisation-leave.visualisation-leave-active {
  transition: opacity 300ms var(--ease-out-cubic);
  transition-property: opacity,transform;
}

.venn.visualisation-enter {
  opacity: 0.01;
  transform: translate3d(-50%,-50%,0) scale(0.9);
}

.venn.visualisation-enter.visualisation-enter-active {
  opacity: 1;
  transform: translate3d(-50%,-50%,0);
}

.venn.visualisation-leave {
  opacity: 1;
}

.venn.visualisation-leave.visualisation-leave-active {
  opacity: 0;
  transform: translate3d(-50%,-50%,0) scale(0.9);
}

.visualisation-enter .venn-intersection:last-child {
  transform: scale(0.01);
  animation: none;
}

.visualisation-enter.visualisation-enter-active .venn-intersection:last-child {
  transform: none;
  transition: transform 300ms 150ms var(--ease-out-cubic);
}

.venn-circle path {
  fill: rgba(106, 0, 199, 0.2);
}

.venn-circle:nth-child(2n) path {
  fill: rgba(106, 0, 199, 0.4);
}

@keyframes wave {
  0% {
    tranform: rotate(0deg);
  }
  10% {
    transform: rotate(var(--degrees));
  }
  20% {
    transform: rotate(-var(--degrees));
  }
  30% {
    transform: rotate(var(--degrees));
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}